@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 24px;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2cap;
  margin-bottom: 1rem;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav__link {
  margin: 1.5rem;
}

.nav__link--anchor {
  text-decoration: none;
  font-weight: 600;
  color: #242424;
}

.nav__link--anchor--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
  width: 100%;
}

.anchor__logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.anchor__logo:hover {
  border-color: rgb(100 21 255);
  color: rgb(100 21 255);
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background-color: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.logo {
  max-width: 40px;
  margin-right: 0.75rem;
}

.nav__logo-name {
  font-size: 1.5rem;
  font-weight: 900;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
  max-width: none;
  margin-right: auto;
}

.header__figure {
  width: 60%;
}

.header__image {
  width: 100%;
}

.header__para {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.header__bar {
  max-width: 15rem;
  /* margin-right: auto; */
  position: relative;
}

.header__input {
  border-radius: 32px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 2rem;
  width: 200%;
  max-width: 600px;
  line-height: 1.75;
  border-style: solid;
  border-color: rgb(160 175 192);
}

.header__button {
  background-color: #6415ff;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 500px;
  border: none;
  z-index: 2;
  display: flex;
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  line-height: 1.5;
  left: 315px;
  top: -3px;
}

.header__customers {
  margin-top: 6rem;
}

.para__customers {
  font-size: 0.75rem;
  font-weight: 700;
  color: #a0aec0;
  text-transform: uppercase;
}

.image__customers {
  width: 100%;
  opacity: 0.5;
  margin-top: 1rem;
  padding-right: 8rem;
}

/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__header {
  font-size: 3rem;
  font-weight: 900;
}

.features__para {
  color: #7c8ba1;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 2rem;
  max-width: 36rem;
  text-align: center;
}

.features__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.feature {
  width: calc(100%/3);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem 0.5rem;
  justify-content: space-between;
}

.feature__figure {
  border: 1px solid #e2e8f0;
  display: flex;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 1.25rem;
  text-align: center;
  /* height: auto; */
  /* margin-top: 10px; */
  /* margin-right: 20px; */
}

.feature__icon {
  height: auto;
  width: 1.5rem;
}

.feature__span {
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-align: left;
}

.feature__span--label {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025rem;
}

.feature__span--para {
  font-weight: 500;
  line-height: 2;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #7c8ba1;
}
/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
